vendor/
node_modules/
npm-debug.log
.php_cs
.php_cs.cache
phpcs.ruleset.xml
phpmd.ruleset.xml
.phpunit.result.cache

# Laravel 5 & Lumen specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
